html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 50%;
    height: auto;
    margin-right: 20px;
}

h1, h2 {
    color: #333;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 6em;
}

main {
    flex: 1;
}

.student-info, .account-balance {
    background: #f4f4f4;
    padding: 20px;
    margin-bottom: 10px;
}

.student-info p, .account-balance p {
    font-size: 4em;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 20px;
}

.footer-image {
    display: block;
    width: auto;
    height: auto;
    max-height: 30%;
    margin: 0;
}
